.navbar{
    display: flex;
    gap:25px;
}

.Home{
    color: red;
}

.login{
    width: 4%;
    height: 3%;
    color: red;
}

.joinNow{
    width: 5%;
    height: 3%;
    background-color:rgb(244, 122, 142);
    border-radius: 5%;
}
.Column1{
    display: flex;
    font-size: xx-large;
}
.Column1 img{
    padding-left: 200px;
    width: 400px;
}

.input{
width: 60%;
height: 10%;
}

#get{
color: red;
}

.Subscription{
    display: flex;
    gap: 4%;
}
 .Monthly{
    display: flex;
    gap: 2%;
 }
 .Guarantee{
    display: flex;
    gap: 2%;
 }

 .Column3{
    display: flex;
    gap: 10%;
 }


 @media screen and (min-width:375px) and (max-width:435px){

    .navbar{
        font-size: 9px;
        display:grid;
    }
    
    .Column1{
       display: grid;
    }

    .Column3{
        display: flex;
        flex-wrap: wrap;

    }
    .Column1 img{
        padding-left: 10px;
        width: 200px;
    }

 }